chromadb
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-openai
langchain-google-genai
langchain-anthropic
google-search-results
beautifulsoup4
requests
python-docx
openpyxl
pypdf
pillow
python-magic
pytesseract
sentence-transformers
sqlite-utils
tqdm
Flask
Flask-Cors
